/*=================================================================*/
/* App */
/*=================================================================*/

.app {
  background-color: white;
}

/* Product Overview */

body {
  color: grey;
  background-color: lightgray;
  height: 100%;
}

.stars {
  background-color: darkgray;
  width: 100%
}

.star-left {
  width: 10px;
  float: left;
  color: red;
}

.star-middle-left {
  color: yellow;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-middle {
  width: 10px;
  margin-left: 5px;
  float: left;
  color: green;
}

.star-middle-right {
  color: blue;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-right {
  margin-left: 5px;
  width: 10px;
  float: left;
  color: purple;
}

.product-general-info {
  background-color: darkslategray;
  width:100%;
}

.product-overview {
  color: gray;
  outline-style:solid;
  width: 63%;
}

.gallery {
  color: gray;
  outline-style:solid;
  width: 63%;

}

.gallery-main-image {
  max-height: 600px;
  max-width: 100%;
  margin-bottom: 50px;
}

.product-info {
  color: gray;
  outline-style:solid;
  width: 35%;
  margin-left: 64%;
  float: left;
}

/*=================================================================*/
/* Questions and Answers */
/*=================================================================*/

/* Questionapp */
.questionapp {
  background: white;
  margin: 0 auto;
  width: 1400px;
}

.questionapptitle {
  font-size: 25px;
  margin-bottom: 10px;
  color: #204ba1;
}

.newquestion {
  background-color: white;
  display: flex;
  justify-content: center;
}

.newquestion:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

.morequestions {
  background-color: white;
  float: left;
}

.morequestions:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

/* Questionlist */

.productname {
  color: #204ba1;
}

/* Question */

.questionuseroptions {
  float: right;
}

.asker {
  display: flex;
  color: #204ba1;
}

.askername {
  margin-bottom: 10px;
  color: black;
}

.questionq {
  margin-top: 10px;
  margin-bottom: 10px;
}

.questionqq {
  color: #204ba1;
}

.questiona {
  display: flex;
  color: #204ba1;
}

.questionbody {
  color: black;
}

.questionhelpful {
  color:black;
}
/* Modals */
.qmodal {
  border: solid black 2px;
  background-color: white;
  position: fixed;
  bottom: 250px;
  top: 225px;
  right: 900px;
  left: 300px;
}

.modaltitle {
  color: #204ba1;
}

.modalsubtitle {
  color: #204ba1;
}

.modalwarning {
  padding: 0px 0px 30px 0px;
}

.answermodalwarning {
  padding: 0px 0px 30px 0px;
}

.modalwarning2 {
  padding: 0px 0px 30px 0px;
}

.answermodalwarning2 {
  padding: 0px 0px 30px 0px;
}

.modalnicknameheader {
  padding: 15px 0px 0px 0px;
}

/* .answermodalnicknameheader {

} */

.modalquestion {
  width: 200px;
  height: 50px;
}

.modalnickname {
  width: 200px;
  height: 25px;
}

.answermodalnickname {
  width: 200px;
  height: 25px;
}

.modalemail {
  width: 200px;
  height: 40px;
}

.answermodalemail {
  width: 200px;
  height: 40px;
}

.modalsubmit {
  background-color: white;
  display: flex;
}

.modalsubmit:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

.modalclose {
  float: right;
  color: black;
  border: solid black 2px;
}

.modalclose:hover {
  cursor: pointer;
  background-color: #c70a23;
  color: white;
}

.answermodal {
  border: solid black 2px;
  background-color: white;
  position: fixed;
  bottom: 100px;
  top: 200px;
  right: 900px;
  left: 50px;
}

.answermodaltitle {
  color: #204ba1;
}

.answermodalsubtitle {
  color: #204ba1;
}

.answermodalclose {
  float: right;
  color: black;
  border: solid black 2px;
}

.answermodalclose:hover {
  cursor: pointer;
  background-color: #c70a23;
  color: white;
}

.answermodalanswer {
  width: 200px;
  height: 50px;
}

.image {
  max-width: 15%;
  height: auto;
}

.image2 {
  max-width: 100%;
  height: auto;
}

.image:hover{
  cursor: pointer;
}

.addFileFalse {
  display: none;
}

.submitanswer {
  background-color: white;
  display: flex;
  margin-top: 30px;
}

.submitanswer:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

.required {
  color: #c70a23;
}

.submitphototrue {
  background-color: white;
  display: flex;
}

.submitphototrue:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

.imagemodal {
  position: fixed;
  max-width: 100%;
  height: auto;
  top: 350px;
  left: 50px;
}

.imagemodalclose {
  position: fixed;
  top: 290px;
  left: 1300px;
  color: black;
  border: solid black 2px;
}

.imagemodalclose:hover {
  cursor: pointer;
  background-color: #c70a23;
  color: white;
}

/* Search */

.search {
  height: 50px;
  width: 1194px;
}

/* Answerlist */

.moreanswers {
  background-color: white;
}

.moreanswers:hover {
  cursor: pointer;
  background-color: #226df5;
  color: white;
}

/* Answer */
.answerhelpful {
  color: black;
}

.answerbody {
  color: black;
}

.byuser {
  color: black;
}

.qaimage {
  max-width: 50px;
  height: auto;
  margin: 10px;
}

/* img {
  max-width: 50px;
  height: auto;
  margin: 10px;
} */


/*=================================================================*/
/* Related Products */
/*=================================================================*/

.style-button {
  color:black;
}

.style-button:hover {
  color:grey;
}


.carousel {
  display: inline-flex;
  padding-left: 2%;
  overflow: hidden;
  z-index: 0;
  height: 400px;
  width: 90%;
}


.carousel-inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
}

.carousel-item {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: top;
  justify-content: bottom;
  color: black;
  font-size: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  height: 90%;
  width: 20%;

}

.carousel-productDetails {
  display: block;
  background-color: #E7E9EB;
  /* background-color: lightgray; */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.carousel-action {
  position: absolute;
  font-size: 13px;
  top: 2px;
  right: 2px;
}
.carousel-button-left {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.carousel-button-left > button {
  margin: 5px;
  align-content: bottom;
}

.carousel-button-right {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.carousel-button-right > button {
  margin: 5px;
  align-content: bottom;
}

.carousel-productImage {
  display: block;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  justify-content: top;
  align-items: center;
  height: 65%;
  max-width: 90%;
  object-fit: contain;
  border-radius: 3px;
}

.carousel-details {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: bottom;
  width: 100%;
  height: 32%;
  border-radius: 3px;
  word-wrap: break-word;
  white-space: initial;
  background-color: whitesmoke;
  color: black;
}
.carousel-productCategory {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: bottom;
  width: 90%;
  background-color: whitesmoke;
  color: lightgrey;

}

.carousel-productName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: bottom;
  font-weight: bold;
  width: 90%;
  background-color: whitesmoke;
  color: black;
}

.carousel-productPrice {
  position: absolute;
  bottom: 5%;
  right: 15%;
  width: 80%;
  background-color: whitesmoke;
  color: darkgrey;
  text-align: right;
}

.carousel-slogan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: bottom;
  width: 90%;
  max-width: 90%;
  background-color: whitesmoke;
  color: black;
}


.carousel-product-description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: bottom;
  font-size: xx-small;
  font-style: italic;
  width: 90%;
  max-width: 90%;
  background-color: whitesmoke;
  color: black;
}
.carousel-action {
  position: absolute;
  font-size: 13px;
  top: 2px;
  right: 2px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.modal-products {
  display: flex;
  justify-content: space-between;
}
.modal-content {
  height: auto;
  width: 350px;
  background-color: #fff;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.modal-header {
  padding: 3px;
}

.modal-footer {
  padding: 5px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.modal-body-detail {
  display: flex;
  float: left;
  width: 100%;
}

.modal-body-left {
  padding-left: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 20%;
}

.modal-body-middle {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: small;
  width: 65%;
}

.modal-body-right {
  padding-left: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 15%;
}



.modal-leftName {
  justify-content: left;
  text-align: left;
}

.modal-rightName {
  justify-content: right;
  text-align: right;
}