body {
  color: grey;
  background-color: lightgray;
}

.stars {
  background-color: darkgray;
  width: 100%
}

.star-left {
  width: 10px;
  float: left;
  color: red;
}

.star-middle-left {
  color: yellow;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-middle {
  width: 10px;
  margin-left: 5px;
  float: left;
  color: green;
}

.star-middle-right {
  color: blue;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-right {
  margin-left: 5px;
  width: 10px;
  float: left;
  color: purple;
}

.product-general-info {
  background-color: darkslategray;
  width:100%;
}

.product-overview {
  color: gray;
  outline-style:solid;
  width: 63%;
}

.gallery {
  color: gray;
  outline-style:solid;
  width: 63%;

}

.gallery-main-image {
  max-height: 600px;
  max-width: 100%;
  margin-bottom: 50px;
}

.product-info {
  color: gray;
  outline-style:solid;
  width: 35%;
  margin-left: 64%;
  float: left;
}


.style-button {
  color:black;
}

.style-button:hover {
  color:grey;
}