body {
  color: grey;
  background-color: lightgray;
}

.stars {
  background-color: darkgray;
  width: 100%
}

.star-left {
  width: 10px;
  float: left;
  color: red;
}

.star-middle-left {
  color: yellow;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-middle {
  width: 10px;
  margin-left: 5px;
  float: left;
  color: green;
}

.star-middle-right {
  color: blue;
  width: 10px;
  margin-left: 5px;
  float: left;
}

.star-right {
  margin-left: 5px;
  width: 10px;
  float: left;
  color: purple;
}

.product-general-info {
  background-color: darkslategray;
  width:100%;
}

.product-overview {
  color: gray;
  outline-style:solid;
  width: 63%;
}

.gallery-placeholder {
  color: gray;
  outline-style:solid;
  width: 63%;
}

.product-info {
  color: gray;
  outline-style:solid;
  width: 35%;
  margin-left: 64%;
  float: left;
}

.carousel {
  overflow: hidden;
}

.carousel-inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
  font-size: 10px;
}

.carousel-productDetails {
  display: block;
}

.related-productImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}